<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Pway</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white opacity-5">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5 fs-5">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../site/home.html">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../site/contato.html">Contato</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">O melhor de Prudente</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../site/sobrenós.html">Sobre nós</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
                <div class="entrar me-5">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-5">
                    <li class="nav-item active">
                        <a class="nav-link active fw-medium text-white" aria-current="page" href="../site/cadastro.html">Entrar</a>
                    </li>
                    <i class="bi bi-person-circle mt-1 me-5 fs-4 text-white"></i>
                </ul>
                </div>
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
            </form>
          </div>
      </nav>
      <main>
      <div class="card text-center">
        <div class="card-body">
          <h1 class="card-title">Seja bem-vindo ao</h1> <h2 class="card-title">Pway!</h2>
          <p class="card-text mt-5">Um jogo de aventura e RPG para desbravar a cidade de Presidente Prudente de forma educativa, divertida e interativa. </p>
          <button type="button" class="btn mt-5 text-white">JOGUE AGORA</button>
          </div>
        </div>
        </div>
      </div>
      </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>